body
{
	display: flex;
	/*flex-direction: row;*/
	width: 100%;
	overflow-x:hidden;
}

.colgauche
{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #AEEA00;
}

.margephoto
{
	width: 100%;
	display: flex;
	margin-top: 30px;

}

.photo
{
justify-content: center;
margin: auto;
}

.sectioncontactapropos
{
	
	order: 2;
	display: flex;
	flex-direction: column;
	font-family: serif;
	font-size: 1.2em;
	height: 38%;
	text-align: justify;
	
}
h3
{			
	color: #AEEA00;
	font-size: 1.5em;
	text-align: center;
	background-color: black;
	opacity:0.7;
/*	margin-bottom: 150px;*/
}

.margeh3
{
	margin-top: 75px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.adressecontact
{
	line-height: 10px;
	margin-bottom: 75px;

}

/*.sectionaproposdemoi
{
	order: 3;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	font-family: "verdana";
	height: 37%;
	text-align: justify;

}*/

 /*h3
{
	color: #66ff33;
	font-size: 1.5em;
	text-align: center;
	background-color: black;
	background-size: 5em;
	padding: 20px;

}*/
.sectionloisirs
{
	order: 4;
	display: flex;
	flex-direction: column;
	height: 16%;
	font-family: serif;
	font-size: 1.2em;
}


/* h3
{
	color: #66ff33;
	font-size: 1.5em;
	text-align: center;
	background-color: black;
	padding: 20px;
}
*/
.iconesloisirs
{
display: flex;
flex-direction: column;
}

.iconesbiking
{
	/*margin: 5px 20px 10px 50px;*/
	width: 100%;
	display: flex;
	text-align: left;
	
}

.iconesbiking i
{
}

.iconesskiing
{
	/*margin : 5px 20px 10px 175px;*/
	width: 100%;
	display: flex;
	text-align: center;
}

.iconesskiing i
{
}

.iconesswimmer
{
	/*margin : 5px 20px 10px 300px;*/
	width: 100%;
	display: flex;
	text-align: right;
}

.iconesswimmer i
{
}

.coldroite
{
	display: flex;
	flex-direction: column;
	width: 70%;
}

.header
{
	order: 5;
	display: flex;
	flex-direction: column;
}

.developpeur
{
	display: flex;
	flex-direction: row;
	background-color: white;
	margin-top: 0px;
	margin-left: 40px;
	font-size: 2em;
	margin-bottom: 100px;
}

.devel
{
	display: flex;
	text-decoration: underline;
	text-decoration-color: #AEEA00;
	}

.oppeur
{
	display: flex;

	
}
.olivierfischer
{
display: flex;
margin-left: 40px;
font-size: 1.6em;

}

.olivier
{
color: #AEEA00;
display: inline-flex;
margin-bottom: 0px;
margin-right: 10px;
}

.FISCHER
{
	color: black;
	display: flex;
	margin-bottom: 0px;

}

.sectionformation
{
	order: 6;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	font-family: "helvetica", sans-serif; 

}

.sectionformation h2
{
	color: black;
	font-size: 1.5em;
	display: flex;
	margin-left: 20px;
	margin-bottom: 0px;

	
}
.iconeformation
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-left: 50px;
	color: #AEEA00;
}

.trait
{
	width: 100%;
	border-top: 2px solid #AEEA00;
	margin-top: 0px;
	margin-left: 50px;

}


.villeentreprise
{
display: flex;
flex-direction: row;
align-items: flex-start;
margin-top: 0px;
margin-bottom: 20px;

}

.ville
{
	display: flex;
	flex-direction: column;
	width: 30%;
	line-height: 10px;
	margin-left:  50px;
	margin-top: 0px;
	min-width: 30%;
	
}

.date
{
	margin-bottom: 0px;
}
.entreprise
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;

}
.entrepriseintitulé
{
	line-height: 10px;

}

.entrepriseformation
{
	font-size: 1.4em;
	font-weight: bold;
}

.sectionexperienceprofessionnelle
{
	order: 7;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	margin-top: 0px;

}	

.sectionexperienceprofessionnelle h2
{
	color: black;
	font-size: 1.5em;
	display: flex;
	margin-left: 20px;
	margin-bottom: 0px;
}

.siteinternet
{
	margin-top: 0px;
}

.sectionrecommandations
{
	order: 8;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	line-height: 4px;
	margin-top: 0px;

}
.sectionrecommandations h2
{
	color: black;
	font-size: 1.5em;
	text-align: center;
	padding: 20px;
	margin-bottom: 0px;
}

.texterecommandations
{
	line-height: 10px;
	margin-left: 50px;
}
p
{
	font-size: 1.2em;
}

h3
{
	padding: 10px;
}

@media screen and (max-width: 1136px)
{
	.villeentreprise 
	{
		flex-direction: column;
		align-items: center;
		border: 3px solid #AEEA00;
		margin-left: 50px;

		}
	.ville
	{
	display: flex;
	flex-direction: column;
	width: 100%;
	line-height: 10px;
	align-items: center;
	}

	.entreprise
	{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	}

	.entrepriseintitulé
	{
	line-height: 10px;
	text-align: center;

	}


@media screen and (max-width: 270px)
{













.iconesloisirs
{

align-items: baseline;

}

.iconesbiking
{
	s
}

.iconesskiing
{
	
}

.iconesswimmer
{
	
}

}
