body
{
	display: flex;
	/*flex-direction: row;*/
	width: 100%;
	overflow-x:hidden; /*cache ce qui sort de l'écran*/
}

.colgauche
{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #AEEA00;
}

.photo
{
	order: 1;
}
.margephoto
{
	width: 100%;
	display: flex;
	margin: 30px 0px;
}

.photosimon
{
justify-content: center;
margin: auto; /*photo centrée*/
max-width: 100%; /*taille de l'image*/
height: auto; /*photo proportionnée*/
border: 7px solid rgb(0, 0, 0, 0.1);
border-radius: 50%;
}

.sectioncontactapropos
{
	
	order: 2;
	display: flex;
	flex-direction: column;
	font-family: serif;
	font-size: 1.2em;
	height: 40%;
	text-align: left;
	
}
h3
{			
	color: #AEEA00;
	font-size: 1.7em;
	text-align: center;
	background-color: black;
	opacity:0.7;
	margin-top: 0px;

}

.margeh3
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 50px;
	margin-right: 50px;
}

.policeaproposdemoi
{
	font-family: /*"Cookie",*/ serif;
	font-size: 1.2em;	
}

.adressecontact
{
	/*line-height: 10px;*/
	margin-bottom: 75px;

}

.adressecontact p
{
	margin:auto;
	text-align: center;
}

.titreadressecontact
{
	text-decoration: underline;
	padding-bottom: 20px;
	font-weight: bolder;
}

.sectionloisirs
{
	order: 3;
	display: flex;
	flex-direction: column;
	height: 15%;
	font-family: serif;
	font-size: 1.2em;
	width: 100%;
}

.iconesloisirs
{
display: flex;
flex-direction: column;
width: 100%;
max-width: 100%;
height: auto;
}

.iconesbiking
{
	display: flex;
	justify-content: flex-start;
	margin-left: 5px;
	}

.iconesbiking i
{
}

.iconesskiing
{
	display: flex;
	justify-content: center;
}

.iconesskiing i
{
}

.iconesswimmer
{
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.iconesswimmer i
{
}

.coldroite
{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-right: 10px;
}

.header
{
	order: 4;
	display: flex;
	flex-direction: column;
}

.developpeur
{
	display: flex;
	flex-direction: row;
	background-color: white;
	margin-top: 0px;
	margin-left: 40px;
	font-size: 2em;
	margin-bottom: 100px;
}

.devel
{
	display: flex;
	text-decoration: underline;
	text-decoration-color: #AEEA00;
	font-size: 1.2em;
	margin-top: 10px;
	}

.oppeur
{
	display: flex;
	font-size: 1.2em;
	margin-top: 10px;
}

.olivierfischer
{
display: flex;
margin-left: 40px;
font-size: 1.6em;
}

.olivier
{
color: #AEEA00;
display: inline-flex;
margin-bottom: 0px;
margin-right: 10px;
}

.FISCHER
{
	color: black;
	display: flex;
	margin-bottom: 0px;
}

.sectioncoldroite
{
	order: 5;
	display: flex;
	flex-direction: column;
	font-size: 1.4em;
	font-family: Serif, sans-serif; 
}

.sectioncoldroite h2
{
	color: black;
	font-size: 1.7em;
	display: flex;
	margin-left: 20px;
	margin-bottom: 0px;
}

.iconeformation
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-left: 50px;
	color: #AEEA00;
}

.trait
{
	border-top: 2px solid #AEEA00;
	margin-top: 0px;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
}

.villeentreprise
{
display: flex;
flex-direction: row;
margin-top: 0px;
margin-bottom: 20px;
}

.ville
{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left:  50px;
	min-width: 30%;
}

.date
{
	margin-bottom: 12px;
}

.entreprise
{
	display: flex;
	flex-direction: column;
	width: 70%;
}

.entrepriseintitulé
{
}

.entrepriseformation
{
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 25px;
}

h5
{
	font-size: 1.1em;
}

.siteinternet
{
	margin-top: 0px;
}

.sectionrecommandations
{
	order: 6;
	display: flex;
	flex-direction: column;
	font-size: 1.4em;
	font-family: Serif, sans-serif; 
}

.sectionrecommandations h2
{
	color: black;
	font-size: 1.7em;
	display: flex;
	margin-left: 20px;
	margin-bottom: 0px;
}

.texterecommandations
{
	/*line-height: 10px;*/
	margin-left: 50px;
}

.texterecommandations p
{
	padding-bottom: 10px;
}

p
{
	font-size: 1.2em;
}

h3
{
	padding: 10px;
}

li
{
	line-height: 30px;
}

@media screen and (max-width: 920px)
{
	body
	{
	display: flex;
	flex-direction: column;
	width: auto;
	/*overflow-x:hidden;*/
	}



	p
	{ 
		line-height: 10px;
	 }

.photosimon
{
justify-content: center;
margin: auto; /*photo centrée*/
max-width: 100%; /*taille de l'image*/
width: auto;
height: auto; /*photo proportionnée*/
}

.colgauche
{
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #AEEA00;
}

.adressecontact
{
	line-height: normal;
	margin-bottom: 20px;
	text-align: center;
}

.margeh3 p
	{
		line-height: 25px;
	}

.iconesloisirs
{
	flex-direction: row;
	margin-bottom: 32px;
}

.iconesbiking
	{
		font-size: 40px;
		margin: auto;
	}

.iconesskiing
{
	font-size: 40px;
	margin:auto;
}

.iconesswimmer
{
	font-size: 40px;
	margin: auto;
}

.coldroite
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.coldroite p
	{
		line-height: 30px;
		}

.developpeur
{
	margin-bottom: 40px;
}

}

@media screen and (max-width: 768px)
{

body
{
	font-size: 0.8em;
}

.photo
{
	order: 1;
}

.sectioncontactapropos
{
	order: 2;
}

.sectionloisirs
{
	order: 4;
}

.header
{
	order: 5;
}

.sectioncoldroite
{
	order: 6;
}

.adressecontact
{
		margin-bottom: 20px;
}

.titreadressecontact
{
		padding-bottom: 5px;
}

.developpeur
{
font-size: 1.6em;
margin-bottom: 0px;
}

.iconesbiking
	{
		font-size: 30px;
		margin: auto;
	}

.iconesskiing
{
	font-size: 30px;
	margin:auto;
}

.iconesswimmer
{
	font-size: 30px;
	margin: auto;
}

.texterecommandations p
{
	margin : 0px;
}

}

@media screen and (max-width: 576px)
{
	
	body
{
	display: flex;
	flex-direction: column;
}

.margephoto
{
	margin: 15px 0px;
}

.photosimon
{
max-width: 30%; /*taille de l'image*/
}

.margeh3 p
{
line-height: 20px;
}

.adressecontact
{
	margin-bottom: 10px;
}

.sectioncoldroite h2
{
	margin: auto;
}

.coldroite p 
{
    line-height: 23px;
}

h4
{
	margin-bottom: 5px;
	}
h5
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ul
{
	margin-top: 10px;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

li
{
	line-height: 23px;
	padding-bottom: 10px;
}

p
{
	font-size: 1em;
}

.trait
{
	margin-bottom: 0px;
	border-top: 5px solid #AEEA00;
	margin-right: 10px;
	margin-left: 10px;
}

.iconeformation
{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: normal;
}

.iconesbiking
	{
		font-size: 20px;
		margin: auto;
	}

.iconesskiing
{
	font-size: 20px;
	margin:auto;
}

.iconesswimmer
{
	font-size: 20px;
	margin: auto;
}

.sectioncoldroite
{
	text-align: center;
	margin-top: 30px;
}

.villeentreprise
{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 0px;
margin-top: 20px;
}

.date
{
	margin: 0px;
}

.ville
{
	margin:auto;
}

.ville p
{
	margin: 0px;
}

.entrepriseformation
{
	margin-top: 10px;
}

.entreprise
{
	border-bottom: 1.5px solid #AEEA00;
}

.sectionrecommandations
{
	text-align: center;
	margin-top: 30px;
}

.sectionrecommandations h2
{
	margin: auto;
}

.texterecommandations
{
	margin-top : 20px ;
	margin-left: 0px;
}

}

@media screen and (max-width: 425px)
{

body
{
	font-size: 0.6em;
}

.iconesloisirs
{
	margin-bottom: 20px;
}

.iconesbiking
	{
		font-size: 15px;
		margin: auto;
	}

.iconesskiing
{
	font-size: 15px;
	margin:auto;
}

.iconesswimmer
{
	font-size: 15px;
	margin: auto;
}

.coldroite
{
	margin-top: 20px;
}

.coldroite p
 {
    line-height: 15px;
}

.developpeur
{
margin: auto;
}

.olivierfischer
{
margin: auto;
}

.olivier
{
margin: auto;
margin-right: 10px;
}

.FISCHER
{
	margin: auto;
}

li 
{
    line-height: 15px;
}

@media screen and (max-width: 375px)
{

.margephoto
{
	margin: 10px 0px;
}

}

@media screen and (max-width: 320px)
{}

}

/*

redisposer les orders
aligner en row le contact

prendre rdv soutenance autour du 5 aout
*/